gTTS
SpeechRecognition
playsound==1.2.2
wolframalpha 
pyscreenshot
prompt_toolkit
pyaudio
wikipedia
pyautogui
pyperclip
psutil
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
PyQt5
PySide2
pywin32
prompt_toolkit
pyttsx3
pillow